/* @import "tailwindcss"; */

body {
  color: #1b1d22;
}

.main {
  text-align: center;
  max-width: 980px;
  margin: 1rem auto;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.task-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.checkbox-btn,
.delete-btn {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.delete-btn {
  border: none;
  color: #1b1d22;
}

.checkbox-btn:hover {
  border: 3px solid black;
}

.delete-btn:hover {
  color: gray;
}
